.header1{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,30,0.7),rgba(0,0,30,0.7)),url("th1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    display: block;
    border-radius: 80%;
}   
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0px;
}
.about-col p{
    padding: 15px 0 25px;
    text-align: justify;
}